@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-white;
  background-color: black;

  scrollbar-color: white #18181b;
  scrollbar-width: thin;
}

button,
input,
select {
  pointer-events: auto;
}

@layer components {
  .pixelated {
    image-rendering: pixelated;
  }
}
